* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.resume-contents {
    min-height: 100vh;
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.left-section {
    grid-column: span 2.5;
    height: 100%;
    background-color: #004A85;
}

.left-section-contents {
    padding: 2rem 2rem;
}

.linha-separaçao {
    width: 80%;
    border-bottom: 1px solid #F2F2F2;
    margin-left: 5%;
    padding-bottom: 5%;

}

.profile .profile-image {
    width:100%;
    border-radius: 100%;
    margin: 0.5em;
}

.name {
    color: #F26457;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.profession {
    color: #F2F2F2;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 5%;
}

.left-title-contato {
    margin-left: 5%;
    margin-top: 5%;
    color: #F26457;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.contact-info ul li,
.references ul li {
    margin-left: 5%;
    padding: .4rem 0;
    color: #eeeeee;
}

.contact-info ul li i,
.references ul li i {
    font-size: 18px;
    color: #eeeeee;
}

.left-title-skills {
    margin-left: 5%;
    margin-top: 5%;
    color: #F26457;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.skills ul li p {
    margin-left: 5%;
    padding: .4rem 0;
    color: #eeeeee;
    padding-bottom: 2%;
}

.skills {
    padding-bottom: 5%;
}

.right-section {
    grid-column: span 4;
    height: 100%;
    background-image: linear-gradient(to left, #F26457, #457B9D);
    border-radius: 0px 60px 0px 0px;
}

.right-section-contents {
    padding: 2rem;
    color: #F26457;
}

.right-title-about {
    font-size: 25px;
    color: #F26457;
    margin-bottom: 1rem;
    
}

.section-about {
    color: #F2F2F2;
    margin-bottom: 2rem;
}

.section-experience,
.section-education,
.section-awards {
    font-size: 25px;
    margin-bottom: 2rem;
}

.experience-contents,
.education-contents,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 3rem;
    color: #F1F8FD;
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 25px;
    
    color: #004A85;
}

.exp-time-period,
.educationp-time-period,
.awards-time-period {
    font-size: 18px;
}

.exp-position,
.education-subject,
.awards-name {
    font-size: 25px;
    color: #004A85;
}

.exp-desc,
.education-desc,
.awards-desc {
    font-size: 16px;
    padding: 5px;
    border-left: 3px solid #004A85;
}